* {
  transition: 0.5s all;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  background-color: #000;
  position: relative;
}

a {
  text-decoration: none;
}

.squareUp {
  width: 1300px;
  height: 300px;
  position: fixed;
  right: 0;
  top: 0;
  transform: rotate(5deg) translate(-2%, -80%);
  background-image: linear-gradient(15deg, #000, #303030);
  border-radius: 50px;
  z-index: 9999;
}
.squareUp .icons {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: rotate(-5deg) translate(-100px, -50px);
}
.squareUp .icons .link-instagram {
  margin-right: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.squareUp .icons .link-instagram span {
  color: #902733;
  font-size: 25px;
  transition: 0.5s all;
}
.squareUp .icons .link-instagram:hover span {
  color: crimson;
}
.squareUp .icons .link-twitter {
  margin-left: 10px;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.squareUp .icons .link-twitter span {
  color: darkcyan;
  font-size: 25px;
  transition: 0.5s all;
}
.squareUp .icons .link-twitter:hover span {
  color: cyan;
}

.squareDown {
  width: 1300px;
  height: 300px;
  background-image: linear-gradient(10deg, #303030, #000);
  position: fixed;
  bottom: 0;
  left: 0;
  transform: rotate(5deg) translate(2%, 80%);
  border-radius: 50px;
  z-index: 9999;
}
.squareDown .contact {
  width: 30%;
  transform: rotate(-5deg) translate(50px, 15px);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
}
.squareDown .contact p, .squareDown .contact h3 {
  width: 100%;
  margin: 2px 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.squareDown .contact h3 {
  justify-content: flex-start;
  color: #eeeeee;
}
.squareDown .contact p:nth-child(2) {
  justify-content: center;
  color: #cccccc;
}
.squareDown .contact p:nth-child(2):hover {
  color: #eeeeee;
}
.squareDown .contact p:nth-child(3) {
  justify-content: flex-end;
  color: #cccccc;
}
.squareDown .contact p:nth-child(3):hover {
  color: #eeeeee;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.content::-webkit-scrollbar {
  width: 0;
}
.content .pages {
  position: fixed;
  right: 20px;
  bottom: 15%;
  display: flex;
  flex-direction: column;
}
.content .pages a {
  padding: 10px 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: crimson;
}
.content .welcome, .content .about, .content .say_hello {
  scroll-snap-align: center;
}
.content .welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
}
.content .welcome .welcome_content {
  display: flex;
  flex-direction: column;
}
.content .welcome .welcome_content h2 {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", "Fira Mono", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;
  opacity: 0.5;
  color: #303030;
  font-size: 25px;
}
.content .welcome .welcome_content h1 {
  font-size: 100px;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  letter-spacing: -17px;
  line-height: 70px;
  color: #aaaaaa;
  white-space: nowrap;
}
.content .welcome .welcome_content h1 span {
  color: crimson;
  font-size: 120px;
}
.content .welcome .welcome_content h3 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  color: #cccccc;
  letter-spacing: -2px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.content .welcome .welcome_content h3:before {
  content: "";
  width: 20px;
  height: 5px;
  background-color: #aaaaaa;
}
.content .about, .content .say_hello {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content .about .about_content, .content .about .say_hello_content, .content .say_hello .about_content, .content .say_hello .say_hello_content {
  width: 50%;
}
.content .about .about_content h2, .content .about .about_content p, .content .about .say_hello_content h2, .content .about .say_hello_content p, .content .say_hello .about_content h2, .content .say_hello .about_content p, .content .say_hello .say_hello_content h2, .content .say_hello .say_hello_content p {
  padding: 0;
  margin: 0;
}
.content .about .about_content h2, .content .about .say_hello_content h2, .content .say_hello .about_content h2, .content .say_hello .say_hello_content h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 60px;
  color: #aaaaaa;
  letter-spacing: -10px;
  white-space: nowrap;
}
.content .about .about_content h2 span, .content .about .say_hello_content h2 span, .content .say_hello .about_content h2 span, .content .say_hello .say_hello_content h2 span {
  font-size: 65px;
}
.content .about .about_content h4, .content .about .say_hello_content h4, .content .say_hello .about_content h4, .content .say_hello .say_hello_content h4 {
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 0 15px 25px;
  position: relative;
  color: crimson;
  white-space: nowrap;
}
.content .about .about_content h4::before, .content .about .say_hello_content h4::before, .content .say_hello .about_content h4::before, .content .say_hello .say_hello_content h4::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: -23px;
  background-color: #aaaaaa;
}
.content .about .about_content p, .content .about .say_hello_content p, .content .say_hello .about_content p, .content .say_hello .say_hello_content p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100%;
  color: #aaaaaa;
}

.active {
  position: relative;
}
.active:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: crimson;
  border-radius: 50%;
}

@media screen and (max-width: 990px) and (min-width: 690px) {
  .squareUp {
    width: 1000px;
    transform: rotate(8deg) translate(-5%, -85%);
  }
  .squareUp .icons {
    transform: rotate(-8deg) translate(-30px, -40px);
  }

  .squareDown {
    width: 1000px;
    transform: rotate(8deg) translate(5%, 85%);
  }
  .squareDown .contact {
    transform: rotate(-8deg) translate(10px, 1px);
  }

  .content .welcome .welcome_content h2 {
    font-size: 20px;
  }
  .content .welcome .welcome_content h1 {
    font-size: 60px;
    letter-spacing: -7px;
    line-height: 45px;
  }
  .content .welcome .welcome_content h1 span {
    font-size: 80px;
  }
  .content .welcome .welcome_content h3 {
    font-size: 15px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 689px) and (min-width: 420px) {
  .squareUp {
    width: 800px;
    transform: rotate(10deg) translate(-5%, -85%);
  }
  .squareUp .icons {
    transform: rotate(-10deg) translate(-30px, -50px);
  }

  .squareDown {
    width: 800px;
    transform: rotate(10deg) translate(5%, 85%);
  }
  .squareDown .contact {
    transform: rotate(-10deg) translate(10px, 1px);
  }

  .content .welcome .welcome_content h2 {
    font-size: 15px;
  }
  .content .welcome .welcome_content h1 {
    font-size: 35px;
    letter-spacing: -5px;
    line-height: 25px;
  }
  .content .welcome .welcome_content h1 span {
    font-size: 45px;
  }
  .content .welcome .welcome_content h3 {
    font-size: 15px;
  }
  .content .welcome .welcome_content h3:before {
    width: 15px;
    height: 3px;
  }
}
@media screen and (max-width: 419px) {
  .squareUp {
    width: 800px;
    transform: rotate(10deg) translate(-5%, -85%);
  }
  .squareUp .icons {
    transform: rotate(-10deg) translate(-20px, -30px);
  }

  .squareDown {
    width: 800px;
    transform: rotate(10deg) translate(5%, 85%);
  }
  .squareDown .contact {
    transform: rotate(-10deg) translate(10px, 1px);
  }

  .content .welcome .welcome_content h2 {
    font-size: 15px;
  }
  .content .welcome .welcome_content h1 {
    font-size: 25px;
    letter-spacing: -3px;
    line-height: 20px;
  }
  .content .welcome .welcome_content h1 span {
    font-size: 35px;
  }
  .content .welcome .welcome_content h3 {
    font-size: 15px;
  }
  .content .welcome .welcome_content h3:before {
    width: 15px;
    height: 3px;
  }
  .content .about .about_content h2, .content .about .say_hello_content h2, .content .say_hello .about_content h2, .content .say_hello .say_hello_content h2 {
    font-size: 40px;
    letter-spacing: -5px;
  }
  .content .about .about_content h2 span, .content .about .say_hello_content h2 span, .content .say_hello .about_content h2 span, .content .say_hello .say_hello_content h2 span {
    font-size: 50px;
  }
  .content .about .about_content h4, .content .about .say_hello_content h4, .content .say_hello .about_content h4, .content .say_hello .say_hello_content h4 {
    font-size: 20px;
    margin: 0 0 10px 25px;
  }
  .content .about .about_content h4:before, .content .about .say_hello_content h4:before, .content .say_hello .about_content h4:before, .content .say_hello .say_hello_content h4:before {
    height: 4px;
  }
  .content .about .about_content p, .content .about .say_hello_content p, .content .say_hello .about_content p, .content .say_hello .say_hello_content p {
    width: 120%;
    font-size: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
